/* Inicio as estilizações e dimenssões da nossa table para jogarmos
  utilizei o grid por ser mais facíl de desenhar as colunas e linhas da table
*/
body{
  width: 700px;
  margin-left: auto;
  margin-right: auto;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#info-game{
  font-weight: 700;
  font-size: 1rem
}

.select-title{
  font-weight:700 ;
  margin-top: 20px;
  font-size: 16px;
}

#gametable-container{
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.game-table{
  width: 200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
}
.title-tables{
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-tables > * {
  text-align: center;
}

.block{
  width: 20px;
  height: 20px;
  border: solid black 1px;
  box-sizing: border-box;
}

.block:hover{
  color: beige 50%;
}

/* Config style opções de barcos */
.option-container {
  width: 500px;
  height: 60px;
  margin: 10px 0 20px;

  display: flex;
  align-items: center;

  background-color: lightblue;
  border-radius: 8px;
  border: solid black;
}

.destroyer{
  background-color: brown;
}
.destroyer-preview{
  width: 20px;
  height: 10px;
  margin: 3px;
}

.submarine{
  background-color: orange;
}
.submarine-preview{
  width: 30px;
  height: 10px;
  margin: 3px;
}

.cruiser{
  background-color: blue;
}
.cruiser-preview{
  width: 30px;
  height: 10px;
  margin: 3px;
}

.battleship{
  background-color: blueviolet;
}

.battleship-preview{
  width: 40px;
  height: 10px;
  margin: 3px;
}

.carrier{
  background-color: chartreuse;
}
.carrier-preview{
  width: 60px;
  height: 10px;
  margin: 3px;
}

.hover {
  background-color: grey;
}

/* Caso queira ver os barcos do bot remova o estilo abaixo */

#bot .destroyer,
#bot .battleship,
#bot .submarine,
#bot .cruiser,
#bot .carrier{
  background-color: yellow;
}


.hit {
  background-color: red !important;
}

.fail-try {
  background-color: grey !important;
}


